In [10]:
import pandas as pd

data = {'col1': [1, 2, None, 4], 'col2': ['a', 'b', 'c', 'd'], 'col3': [1.1, 2.2, 3.3, 4.4]}
df = pd.DataFrame(data)
df.info()
print(df)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   col1    3 non-null      float64
 1   col2    4 non-null      object
 2   col3    4 non-null      float64
dtypes: float64(2), object(1)
memory usage: 228.0+ bytes
   col1 col2  col3
0   1.0    a   1.1
1   2.0    b   2.2
2   NaN    c   3.3
3   4.0    d   4.4

In [11]:
df.T

        0    1    2    3
col1  1.0  2.0  NaN  4.0
col2    a    b    c    d
col3  1.1  2.2  3.3  4.4

In [17]:
import pandas as pd
import numpy as np

# 建立一個包含 NaN 的 DataFrame
data = {'col1': [1, 2, np.nan, 4], 
        'col2': ['a', np.nan, 'c', 'd'], 
        'col3': [1.1, 2.2, 3.3, np.nan]}
df = pd.DataFrame(data)

print("原始 DataFrame：")
print(df)

原始 DataFrame：
   col1 col2  col3
0   1.0    a   1.1
1   2.0  NaN   2.2
2   NaN    c   3.3
3   4.0    d   NaN

In [ ]:
# 刪除包含 NaN 的列
df_cleaned = df.dropna()

print("\n刪除包含 NaN 的列後的 DataFrame：")
print(df_cleaned)

刪除 NaN 列後的 DataFrame：
   col1 col2  col3
0   1.0    a   1.1

df.dropna() 預設會回傳一個新的 DataFrame，而不會修改原始的 DataFrame。
如果你想直接修改原始的 DataFrame，可以使用 inplace=True 參數：

In [19]:
# 直接在原 DataFrame 上刪除包含 NaN 的列
df.dropna(inplace=True)
print("\n在原 DataFrame 上刪除包含 NaN 的列後的 DataFrame：")
print(df)

在原 DataFrame 上刪除包含 NaN 的列後的 DataFrame：
   col1 col2  col3
0   1.0    a   1.1

In [21]:
# 只有當該列的所有值都是 NaN 時，才刪除該列
data2 = {'col1': [1, 2, np.nan, 4], 
        'col2': ['a', np.nan, np.nan, 'd'], 
        'col3': [1.1, 2.2, np.nan, np.nan]}
df2 = pd.DataFrame(data2)
print("\n原始 DataFrame2：")
print(df2)

原始 DataFrame2：
   col1 col2  col3
0   1.0    a   1.1
1   2.0  NaN   2.2
2   NaN  NaN   NaN
3   4.0    d   NaN

In [22]:
df2_cleaned = df2.dropna(how='all')
print("\n刪除所有值都是 NaN 的列後的 DataFrame2：")
print(df2_cleaned)

刪除所有值都是 NaN 的列後的 DataFrame2：
   col1 col2  col3
0   1.0    a   1.1
1   2.0  NaN   2.2
3   4.0    d   NaN

In [23]:
# 建立一個包含 NaN 的 DataFrame
data = {'col1': [1, 2, np.nan, 4], 
        'col2': ['a', np.nan, 'c', 'd'], 
        'col3': [1.1, 2.2, 3.3, np.nan]}
df = pd.DataFrame(data)

print("原始 DataFrame：")
print(df)

原始 DataFrame：
   col1 col2  col3
0   1.0    a   1.1
1   2.0  NaN   2.2
2   NaN    c   3.3
3   4.0    d   NaN

In [25]:
df3_cleaned = df3.dropna(subset=['col1','col3'])
print("\n刪除col1或col3包含NaN的列後的 DataFrame3：")
print(df3_cleaned)

刪除col1或col3包含NaN的列後的 DataFrame3：
   col1 col2  col3
0   1.0    a   1.1
1   2.0  NaN   2.2

In [26]:
# 建立一個包含 NaN 的 DataFrame
data = {'col1': [1, 2, np.nan, 4], 
        'col2': ['a', np.nan, 'c', 'd'], 
        'col3': [np.nan, np.nan, np.nan, np.nan]}
df = pd.DataFrame(data)

print("原始 DataFrame：")
print(df)

原始 DataFrame：
   col1 col2  col3
0   1.0    a   NaN
1   2.0  NaN   NaN
2   NaN    c   NaN
3   4.0    d   NaN

In [27]:
# 刪除任何包含 NaN 的欄
df_cleaned = df.dropna(axis='columns')  # 或 axis='columns'
print("\n刪除包含 NaN 的欄後的 DataFrame：")
print(df_cleaned)

刪除包含 NaN 的欄後的 DataFrame：
Empty DataFrame
Columns: []
Index: [0, 1, 2, 3]

請給我dataframe of pandas 的reindex()和drop()的範例，請以繁體中文顯示

In [39]:
import pandas as pd

# 建立一個 DataFrame
data = {'col1': [10, 20, 30], 'col2': [40, 50, 60]}
df = pd.DataFrame(data, index=['A', 'B', 'C'])

print("原始 DataFrame：")
print(df)

# 重新排列索引順序
new_index = ['C', 'A', 'B']
df_reindexed = df.reindex(new_index)
df_AA = df.reindex(columns=['col2', 'col1'])

print("\n重新排列索引後的 DataFrame：")
print(df_reindexed)
df_AA

原始 DataFrame：
   col1  col2
A    10    40
B    20    50
C    30    60

重新排列索引後的 DataFrame：
   col1  col2
C    30    60
A    10    40
B    20    50

   col2  col1
A    40    10
B    50    20
C    60    30

In [36]:
# 刪除索引標籤 'B'
new_index = ['A', 'C']
df_reindexed = df.reindex(new_index)

print("\n刪除索引標籤後的 DataFrame：")
print(df_reindexed)

刪除索引標籤後的 DataFrame：
   col1  col2
A    10    40
C    30    60

In [37]:
# 刪除索引標籤為 'B' 的列
df_dropped = df.drop('B')

print("\n刪除列後的 DataFrame：")
print(df_dropped)

刪除列後的 DataFrame：
   col1  col2
A    10    40
C    30    60