In [3]:
import numpy as np    #換新的ipynb，要記得重新再import numpy

students = np.array([
    [67, 94, 65],
    [78, 92, 68],
    [59, 62, 87]
    ])
students

array([[67, 94, 65],
       [78, 92, 68],
       [59, 62, 87]])

Pandas提供dataframe
https://pandas.pydata.org/docs/getting_started/index.html#getting-started

In [6]:
import pandas as pd

#pd內有一叫dataframe的class
pd.DataFrame(data=students,
             index=['stu1','stu2','stu3'],
             columns=['chinese','english','math']
             )

      chinese  english  math
stu1       67       94    65
stu2       78       92    68
stu3       59       62    87

In [16]:
data = np.random.randint(50,high=101,size=(3,50,5))  #因為high不包含所以要打101  size=(3,50,5) (三維,50個,5個分數)
data

array([[[ 97,  70,  94,  90,  53],
        [ 87,  74,  88,  93,  58],
        [ 94,  93,  72,  83,  59],
        [ 51,  79,  62,  94,  59],
        [ 92,  60,  78,  68,  59],
        [ 75,  77,  54,  75,  58],
        [ 57,  54,  73,  75,  76],
        [ 71,  60,  69,  59,  76],
        [ 85,  99,  64,  51,  86],
        [ 54, 100,  61,  54,  96],
        [ 54, 100,  87,  88,  70],
        [ 85,  57,  76,  98,  86],
        [ 69,  76,  81,  88,  91],
        [ 79,  50,  79,  57,  81],
        [ 96,  51,  65,  97,  79],
        [ 83,  57,  51,  87,  53],
        [ 77,  69,  55,  65,  71],
        [ 97,  62,  54,  81,  81],
        [ 98,  65,  58,  64,  56],
        [ 70,  58,  58,  51,  51],
        [ 87,  57,  82,  56,  55],
        [ 99,  91,  65,  61,  50],
        [ 80,  89,  69,  89,  89],
        [ 73,  71,  62,  95,  51],
        [100,  72,  78,  57,  86],
        [ 61,  85,  56,  70,  88],
        [ 87,  50,  96,  58,  99],
        [ 64,  95,  78,  58,  75],
        [ 73,  76,  78,  66,  64],
        [ 75,  91,  97,  63,  71],
        [ 83,  57,  51,  64,  65],
        [ 90,  61,  67,  83,  84],
        [ 97,  91,  73,  62,  85],
        [ 58,  57,  91,  75,  86],
        [ 65,  55,  89,  79,  83],
        [ 80,  97,  53,  59,  81],
        [ 55,  53,  68,  79,  86],
        [ 54,  78,  91,  61,  97],
        [100,  78,  86,  84,  79],
        [ 71,  88,  72,  83,  93],
        [ 90,  67,  53,  91,  97],
        [ 59,  71,  57,  72,  82],
        [ 75,  82,  84,  96,  83],
        [ 70,  57,  86, 100,  64],
        [ 86,  68,  56,  60,  62],
        [ 99,  67,  86,  54,  67],
        [ 90,  93,  63,  67,  82],
        [ 54,  98,  86,  69,  67],
        [ 96,  64,  69,  81,  84],
        [ 98,  98,  82,  89, 100]],

       [[ 99,  92,  94,  77,  98],
        [ 53, 100,  67,  91,  93],
        [ 93,  91,  89,  92,  96],
        [ 64,  79,  86,  86,  57],
        [ 59,  80,  73,  91,  99],
        [ 80,  86,  83,  59,  77],
        [ 63,  72,  61,  83,  89],
        [ 50,  89,  95,  60,  54],
        [ 73,  99,  89,  97,  74],
        [ 60, 100,  62,  90,  60],
        [ 97,  91,  84,  87,  84],
        [ 57,  53,  63,  90,  85],
        [ 65,  75,  90, 100,  96],
        [ 82,  73,  78,  97,  76],
        [ 75,  93,  71,  62,  62],
        [ 65,  69,  68,  99,  72],
        [ 92,  80,  71,  91,  78],
        [ 70,  69,  76,  84,  77],
        [ 52,  52,  52,  81,  71],
        [ 86,  80,  68,  60,  65],
        [100, 100,  67,  64,  53],
        [ 93,  60,  82,  93,  52],
        [ 96,  76,  60,  67,  61],
        [ 94,  76,  89,  83,  80],
        [ 73,  53,  91,  84,  92],
        [ 67,  89,  95,  86,  75],
        [ 64,  77,  65,  77,  97],
        [ 92,  80,  76,  77,  97],
        [ 77,  60,  94,  89,  92],
        [ 69,  75,  84,  61,  95],
        [ 99,  86,  97,  95,  55],
        [ 72,  82,  89,  56,  57],
        [ 95,  54, 100,  79,  74],
        [ 53,  79,  52,  52,  82],
        [ 74,  92,  87,  65,  71],
        [ 97,  74,  58,  72,  53],
        [ 68,  81,  59,  50,  67],
        [ 64,  97,  97,  73,  92],
        [ 57,  90,  95,  88,  79],
        [ 83,  65, 100,  57,  98],
        [ 53,  52,  53,  92,  97],
        [ 64,  96,  90,  90,  57],
        [ 59, 100,  73,  55,  72],
        [ 70,  72,  57,  94,  83],
        [ 84,  50,  94,  88,  72],
        [ 53,  86,  51,  56,  67],
        [ 79,  88,  63,  52,  73],
        [ 60,  81,  77,  81,  76],
        [ 62,  64,  97,  79,  60],
        [ 66,  85,  79,  76,  69]],

       [[ 71,  57,  95,  75,  55],
        [ 92,  64,  71,  72,  88],
        [ 86,  91,  82,  65,  51],
        [ 56,  84,  72,  50,  94],
        [ 77,  60,  97,  89,  83],
        [ 66,  50,  62,  94,  63],
        [ 84,  58,  50,  74,  87],
        [ 61,  88,  74,  67,  71],
        [ 91,  63,  89,  53,  58],
        [ 89,  77,  72,  99,  56],
        [ 85,  91,  72,  51,  77],
        [ 94,  61,  85,  94,  99],
        [ 78,  95,  55,  83,  72],
        [ 98,  78,  61,  81,  57],
        [ 81,  98,  96,  65,  55],
        [ 63,  54,  52,  83,  62],
        [ 52,  52,  68,  94,  92],
        [ 97,  78,  68,  84,  90],
        [ 70,  81,  51,  70,  80],
        [ 75, 100,  50,  82,  83],
        [ 80,  56,  64, 100,  87],
        [ 82,  58,  89,  94,  68],
        [ 51,  88,  53,  65,  78],
        [ 63,  65,  85,  55,  77],
        [ 95,  76,  87,  87,  85],
        [ 68,  57,  79,  59,  64],
        [ 50, 100,  87,  90,  67],
        [ 50,  93,  72,  94,  76],
        [ 55,  67,  59,  87,  61],
        [ 70,  88,  55,  72,  89],
        [ 60,  94,  53,  51,  88],
        [ 64,  82,  66,  95,  55],
        [ 71,  98,  95,  96,  78],
        [ 60,  71,  95,  77,  50],
        [ 77,  62,  92,  66,  66],
        [ 53,  57,  93,  75,  92],
        [ 95,  58,  63,  56,  56],
        [ 96,  63,  61,  79,  87],
        [ 66,  82,  79,  89,  76],
        [ 67,  64,  98,  73,  90],
        [ 55,  71,  84,  97,  72],
        [ 93,  84,  89,  56,  78],
        [ 52,  74,  54,  78,  86],
        [ 90,  63,  54,  85,  70],
        [ 57,  91,  86,  93,  77],
        [ 98,  62,  52,  92,  87],
        [ 55,  69,  70,  88,  62],
        [ 64,  99,  61,  99,  76],
        [ 89,  64,  90,  87,  74],
        [ 56, 100,  70,  53, 100]]], dtype=int32)

In [17]:
data = np.random.randint(50,high=101,size=(50,5))  
data
students = pd.DataFrame(data,
             columns=['chinese','english','math','geo','explore'])
students

    chinese  english  math  geo  explore
0        82       58    92   62       63
1        85       65    84   67       98
2        99       79    84   54       64
3        55       84    97   72       65
4        94       84    78   65       90
5        99       87    90   67       76
6        75       89    90   95       65
7        91       95    82   91       53
8        79       90    68   70       64
9        52       96    66   59       91
10       79       90    67   87       91
11       83       68    77   78       63
12       92       66    75   84       55
13       74       93    59   51       58
14       63       80    72   85       61
15       81       59    52   73       53
16       95       93    57   74       97
17       57       96    79   58       91
18       79       98    70   81       84
19       67       87    77   60       51
20       52       76    62   96       53
21       82       83    70   94       94
22       61       93    65   96       82
23       70       84    50   90       54
24       61       53    64   50       60
25       53       78    71   78       78
26       52       85    93   64       65
27       88       92    94   72       99
28       64      100    50   85       77
29       90       54    76  100       87
30       71       59    76   61       81
31       91       64    82   65       60
32       95       74    87   88       61
33       98       63    85   70       73
34       65       61    89   58       72
35       98       87    81   59       59
36       89       70    53   90       77
37       56       76    76   52       50
38       62       96    96   89       73
39       99       81    75   61       76
40       82       97    76   97       61
41       83       90    70   92       76
42       81       53    51   90       50
43       91       61    73   63       82
44       68       53    73   97       70
45       92       60    92   97       71
46       80       71    66   94       53
47       83       60    86   94       82
48       93       91    99   63       94
49       90       84    98   72       51

In [31]:
import random
with open('names.txt',encoding='utf-8') as file:
    content = file.read()
    names = content.split("\n")     #是以換行分隔   "\n"
    random_names = random.sample(names,10)
    print(random_names)

['尚偉倫', '陳倩潔', '傅佳琳', '胡姿婷', '蔡欣汝', '葉祖雄', '陳建豪', '鄧亭聿', '陳彥治', '方筠紹']

In [ ]:
import random
def get_names(nums:int=10)->list[str]:                     #def定義function
    with open('names.txt',encoding='utf-8') as file:
        content = file.read()
        names = content.split("\n")                        #是以換行分隔"\n"
        randam_names = random.sample(names,nums)
        
    return randam_names

get_names()  #int=10是default值，如果get_names()括號內沒有特別寫數字，get_names()跑出來就是default的10個值

['黃麗美', '錢欣潔', '郭舜昇', '張牧聿', '黃淑芬', '林建勳', '張雅芬', '楊偉翔', '高俊男', '朱惠儀']

In [69]:
student_nums = 10
data = np.random.randint(50,high=101,size=(student_nums, 5))
students = pd.DataFrame(data,
             columns=['chinese','english','math','geo','explore'],
             index=get_names(student_nums))
students

     chinese  english  math  geo  explore
陳怡容       76       60    89   88       86
唐雪豪       78       69    92   67       73
鄭奇翰       79      100    94   58       66
陳逸凡       81       55    85   68       57
潘英迪       71       80    83   59       69
陳建豪       81       62   100   85       90
崔孝憲       63       66    92   65       74
林珈發       58       95    66   80       67
李進慧       96       69    78   98       62
張天亨       79      100    72   62       52