In [72]:
import numpy as np    #換新的ipynb，要記得重新再import numpy

students = np.array([
    [67, 94, 65],
    [78, 92, 68],
    [59, 62, 87]
    ])
students

array([[67, 94, 65],
       [78, 92, 68],
       [59, 62, 87]])

Pandas提供dataframe
https://pandas.pydata.org/docs/getting_started/index.html#getting-started

In [73]:
import pandas as pd

#pd內有一叫dataframe的class
pd.DataFrame(data=students,
             index=['stu1','stu2','stu3'],
             columns=['chinese','english','math']
             )

      chinese  english  math
stu1       67       94    65
stu2       78       92    68
stu3       59       62    87

In [74]:
data = np.random.randint(50,high=101,size=(3,50,5))  #因為high不包含所以要打101  size=(3,50,5) (三維,50個,5個分數)
data

array([[[ 79,  62,  53,  54,  84],
        [ 71,  65,  72,  79,  96],
        [ 96,  89,  93,  88,  57],
        [ 96,  78,  78,  61,  87],
        [ 79,  86,  60,  58,  71],
        [ 81,  98, 100,  64,  84],
        [ 89,  72,  90,  90,  87],
        [ 78,  58,  77,  89,  75],
        [ 75,  76,  76,  55,  56],
        [ 98,  75,  77,  60,  70],
        [ 52,  53,  88,  85,  74],
        [ 76,  69,  74,  91,  88],
        [ 88,  93, 100,  59,  64],
        [ 76,  91,  61,  63,  71],
        [ 84,  69,  73,  62,  94],
        [ 98,  77,  94,  83,  70],
        [ 56,  80,  74,  57,  79],
        [ 62,  89,  85,  91,  63],
        [ 64,  85,  56,  61,  82],
        [ 93,  91,  63,  75,  62],
        [ 87,  91,  97,  88,  78],
        [ 60,  51,  73,  68,  57],
        [ 85,  54,  73,  55,  63],
        [ 96,  63,  51,  69,  54],
        [ 78,  77,  56,  77,  66],
        [ 57,  91,  60,  56,  99],
        [ 57,  52,  59,  90,  88],
        [ 65,  97,  75,  56,  55],
        [ 78,  59,  76,  94,  64],
        [ 69,  58,  57,  82,  78],
        [ 73,  61,  82,  50,  87],
        [ 57,  74,  89,  81,  64],
        [ 55,  57,  55,  60,  83],
        [ 78,  90,  72,  62,  71],
        [ 59,  72,  58,  82,  95],
        [ 69,  64,  93,  54,  78],
        [ 78,  77,  76,  86, 100],
        [ 55,  73,  90,  53,  82],
        [ 68,  80,  94,  99,  94],
        [ 90,  95,  79,  90,  54],
        [ 65,  83,  54,  88,  78],
        [ 85,  92,  93,  61,  53],
        [ 70,  60,  85,  59,  94],
        [ 62,  98,  61,  75,  98],
        [ 80,  82,  93,  79,  73],
        [ 56, 100,  60,  58,  57],
        [ 81,  90,  93,  92,  92],
        [ 74,  98,  87,  98,  88],
        [100,  77,  99,  89,  96],
        [ 79,  51,  73,  95,  64]],

       [[ 80,  68,  57,  67,  60],
        [ 64,  59,  80, 100,  82],
        [ 89,  93,  98,  61,  94],
        [ 98,  77,  58,  85,  61],
        [ 76,  52,  87,  91,  78],
        [ 84,  80,  62,  86,  83],
        [ 97,  51,  66,  79,  89],
        [ 71,  59,  77,  68,  92],
        [ 76,  51,  94,  89,  76],
        [ 86,  89,  72,  68,  84],
        [ 75,  98,  67,  63,  84],
        [ 52,  76,  53,  92,  78],
        [ 65,  55,  85,  96,  77],
        [ 61,  54,  95,  53,  71],
        [ 51,  78,  94,  62,  88],
        [ 57,  94,  78,  51,  86],
        [ 99,  57,  69,  66,  96],
        [ 58,  90,  67,  92,  60],
        [ 69,  50,  98,  64, 100],
        [ 67,  53,  59,  59,  73],
        [ 79,  63,  93,  89,  97],
        [ 89,  97,  82,  57,  80],
        [ 86,  78,  67,  60,  67],
        [ 64,  60,  97,  68,  67],
        [ 88,  62,  74,  80,  71],
        [ 64,  55,  59,  93,  99],
        [ 72,  86,  89,  88,  70],
        [ 73,  96,  85,  67,  55],
        [ 52,  93,  55,  58,  50],
        [ 76,  87,  86,  52,  53],
        [ 75,  74,  68,  66,  59],
        [ 82,  70,  52,  77, 100],
        [ 81,  75,  60,  88,  63],
        [ 75,  80,  86,  79,  62],
        [ 67,  76,  74,  64,  71],
        [ 78,  60,  61,  91,  53],
        [ 93,  83,  88,  67,  58],
        [ 81,  66,  98,  73,  76],
        [ 65,  57,  86,  82,  79],
        [ 93,  53,  82,  73,  75],
        [ 77,  89,  90,  58,  59],
        [ 62,  97,  55,  50,  66],
        [ 82,  52,  55,  60,  60],
        [ 87,  81,  88,  98,  90],
        [ 99,  92,  93,  99,  76],
        [ 95,  89,  70,  68,  77],
        [ 83,  98,  90,  67,  90],
        [ 99,  94,  58,  76,  71],
        [ 94,  90,  85,  58,  63],
        [ 59,  77,  87,  98,  61]],

       [[ 90,  58,  52,  67,  80],
        [ 55,  97,  78,  61,  78],
        [ 66,  76,  83,  65,  83],
        [ 88, 100,  99,  53,  71],
        [ 81,  51,  92,  68,  78],
        [ 67,  70,  58,  99,  65],
        [ 88,  60,  53,  74,  74],
        [ 66, 100,  71,  65,  77],
        [ 53,  78,  59,  72,  69],
        [ 96,  85,  85,  70,  58],
        [ 51,  81,  88,  73,  66],
        [ 72,  87,  61,  98,  85],
        [ 66,  65,  53,  99,  98],
        [ 95,  59,  96,  75,  91],
        [ 87, 100,  52,  82,  76],
        [ 72,  90,  74,  52,  88],
        [ 54,  82,  54,  99,  64],
        [ 72,  82,  99,  54,  60],
        [ 50,  62,  77,  71,  96],
        [ 96,  56,  61,  77,  72],
        [ 59,  94,  91,  90,  96],
        [ 85,  52,  88,  52,  66],
        [ 97,  61,  73,  89,  53],
        [ 56,  81,  83,  89,  90],
        [ 86,  77,  87,  82,  98],
        [ 70,  63,  96,  53,  72],
        [ 96,  63,  52,  83,  75],
        [ 88,  58,  68,  71,  88],
        [ 65,  66,  90,  57,  71],
        [ 50,  93,  69,  84,  69],
        [ 57,  65,  94,  84,  88],
        [ 73,  60,  85,  82,  92],
        [ 50,  52,  50,  76,  68],
        [ 74,  88,  90,  79,  67],
        [ 82,  90,  59,  75,  81],
        [ 70,  97,  79,  59,  54],
        [ 64,  87,  91, 100,  62],
        [ 99,  72,  98,  78,  59],
        [ 93,  83,  60,  79,  65],
        [ 81,  55,  84,  96,  77],
        [ 50,  79,  77,  55,  61],
        [ 87,  94,  57,  80,  72],
        [ 84,  71,  66,  86,  70],
        [ 76,  83,  74,  62,  75],
        [ 51,  55,  57,  88,  82],
        [ 93,  93,  63,  56,  91],
        [ 68,  50,  60,  73,  52],
        [ 57,  77,  84,  70,  60],
        [ 73,  62,  64,  63,  60],
        [ 63,  90,  96,  75,  99]]], dtype=int32)

In [75]:
data = np.random.randint(50,high=101,size=(50,5))  
data
students = pd.DataFrame(data,
             columns=['chinese','english','math','geo','explore'])
students

    chinese  english  math  geo  explore
0        68       81    89   72       87
1        93       83    94   55       80
2        52       84    90   87       97
3        67       99    51   94       80
4        79       69    72   96       99
5        61       94    93   87       97
6        97       71    92   75       73
7        76       68    94   68       74
8        87       56    99   98       98
9        68       90    90   78       54
10       84       74    53   78      100
11      100       83    84   56       71
12       73       59    90   63       85
13       69       74    61   57       82
14       92       58    82   55       59
15       56       92    78   74       89
16       60       85    85   64       93
17       66       55    58   55       83
18       63       59    93   87       59
19       90       88    63   91       68
20       65       77    89   85       52
21       90       86    91   90       85
22       84       95    67   53       89
23       91       85    90   70       91
24       99       86    57  100       73
25       52       95    87   92       97
26       71       99    84   57       80
27       64       55    70  100       53
28       60       97    96   61       91
29       67       68    55   70       83
30       64       95    52   58       85
31       99       50    82   89       77
32       83       55    72   50       92
33       66       99    95   62       81
34       75       95    89   97       80
35       64       74    81   78      100
36       57       56    78   52       96
37       81       65    75   96       75
38       50       82    73   96       50
39       51       68    94   68       91
40       76       64    63   50       78
41       52       59    97   70       71
42       67       72    95   95       67
43       63       58    62   58       50
44       97       73    83   73       92
45       67       67    68   54       66
46       88       72    85   96       55
47       72       92   100   94       98
48       92       84    89   68       71
49       66       69    58  100       73

In [76]:
import random
with open('names.txt',encoding='utf-8') as file:
    content = file.read()
    names = content.split("\n")     #是以換行分隔   "\n"
    random_names = random.sample(names,10)
    print(random_names)

['高俊男', '林詠斌', '簡國瑋', '游淑惠', '林向鈺', '葉志峰', '黃江旭', '李立偉', '昌嘉洋', '聶心怡']

In [77]:
import random
def get_names(nums:int=10)->list[str]:                     #def定義function
    with open('names.txt',encoding='utf-8') as file:
        content = file.read()
        names = content.split("\n")                        #是以換行分隔"\n"
        randam_names = random.sample(names,nums)
        
    return randam_names

get_names()  #int=10是default值，如果get_names()括號內沒有特別寫數字，get_names()跑出來就是default的10個值
get_names(3)

['白美珍', '鄧淑娟', '鄭佳玲']

In [87]:
student_nums = 50
data = np.random.randint(50,high=101,size=(student_nums, 5))
students = pd.DataFrame(data,
             columns=['chinese','english','math','geo','explore'],
             index=get_names(student_nums))
students
type(students)

pandas.core.frame.DataFrame

#存成csv
DataFrame.to_csv(path_or_buf=None, *, sep=',', na_rep='', float_format=None, columns=None, header=True, index=True, index_label=None, mode='w', encoding=None, compression='infer', quoting=None, quotechar='"', lineterminator=None, chunksize=None, date_format=None, doublequote=True, escapechar=None, decimal='.', errors='strict', storage_options=None)[source]

*代表後面全部都要用引數名稱呼叫
/代表前面

In [88]:
students.to_csv('student.csv', index=True)   #index是索引，如果不要就變FALSE
print("csv存檔成功")

csv存檔成功

#存成excel
DataFrame.to_excel(excel_writer, *, sheet_name='Sheet1', na_rep='', float_format=None, columns=None, header=True, index=True, index_label=None, startrow=0, startcol=0, engine=None, merge_cells=True, inf_rep='inf', freeze_panes=None, storage_options=None, engine_kwargs=None)[source]

In [89]:
students.to_excel('student.xlsx', sheet_name='3年8班期中考分數')
print('excel存檔成功')

excel存檔成功