In [3]:
import numpy as np    #換新的ipynb，要記得重新再import numpy

students = np.array([
    [67, 94, 65],
    [78, 92, 68],
    [59, 62, 87]
    ])
students

array([[67, 94, 65],
       [78, 92, 68],
       [59, 62, 87]])

Pandas提供dataframe
https://pandas.pydata.org/docs/getting_started/index.html#getting-started

In [6]:
import pandas as pd

#pd內有一叫dataframe的class
pd.DataFrame(data=students,
             index=['stu1','stu2','stu3'],
             columns=['chinese','english','math']
             )

      chinese  english  math
stu1       67       94    65
stu2       78       92    68
stu3       59       62    87